<!DOCTYPE html>
<html lang="en" ng-app="sandboxApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="index.js"></script>
    <style>.ng-invalid {
        color: red;
    }</style>
</head>
<body ng-controller="MainController">
    Choose:
    <a href="/dogs">list</a> |
    <a href="/add">add</a> |
    <div ng-view></div>

    <hr />

    <!--pre>$location.path() = {{$location.path()}}</--pre>
    <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
    <pre>$routeParams = {{$routeParams}}</pre-->
</body>
</html>