<h1>Lisa koer</h1>
<form novalidate ng-submit="add()" name="form">
    <input name="name" type="text" placeholder="koera nimi" ng-model="new.name" required>
    <span ng-show="form.name.$touched && form.name.$error.required">name is required.</span>
    <br>
    <input name="email" placeholder="koera email" ng-model="new.email" type="email" required>
    <span ng-show="form.email.$touched && form.email.$invalid">The email is invalid.</span>
    <br>
    <input type="submit" value="lisa" ng-disabled="form.name.$invalid || form.email.$invalid">
</form>