<h1>Nimekiri</h1>
<span>filter: </span><input placeholder="koer" type="text" ng-model="filterString">
<ul>
    <li ng-repeat="dog in list | filter:filterString">
        <b>nimi</b>: <a href="/detail/{{dog.id}}">{{dog.name}}</a>  &emsp;<b>e-mail</b>: {{dog.email}}
    </li>
</ul>